body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: #333;
  background: #eee;
}

a {
  color: #333;
  text-decoration: none;
}

a[hovertext]:hover::before {
  position: absolute;
  background: black;
  color: white;
  padding: 5px;
  content: attr(hovertext);
  margin-top: -30px;
  margin-left: -20px;
  border-radius: 3px;
  font-size: 12px;
}

.title {
  color: rgba(200, 200, 200, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  font-size: 3vw;
  text-align: center;
  margin: 30px auto;
  min-width: 480px;
}
.reverse {
  transform: scale(-1, 1);
}
.reverse:hover {
  transform: none;
}

.main-wrapper {
  background: #fff;
  border: 0;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  margin-bottom: 25px;
  box-shadow: -2px 2px 2px -2px #ccc;
}

.social-links {
  max-width: 800px;
  min-width: 480px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.social-links-icon {
  font-size: 14px;
}
.social-links li {
  display: inline;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
}
footer a {
  text-align: center;
}

.file-format-links {
  border-top: 1px solid #ccc;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
  min-width: 480px;
  margin: auto;
  margin-top: 40px;
}
.fa-file-word {
  color: #505596;
}
.fa-file-pdf {
  color: #cf1e00;
}
.floating-links span {
  margin-left: 5px;
  margin-right: 5px;
}
.file-format-links .divider {
  color: #aaa;
}

#email-form {
  display: none;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}
#email-address {
  width: 50%;
}

/* These are assumed to be comments in the margins that get exported as divs */
#resume-content div {
  display: none !important; /* ! This negates the following styles. May be implemented later. */
  /* position: absolute;
  top: 10px;
  right: 10px;
  background: #ffaa00;
  padding: 10px;
  max-width: 200px; */
}
/* #resume-content div span {
  font-size: 8px;
}
#resume-content div a {
  display: none;
}
#resume-content div span::before {
  content: "Note:";
  display: block;
  font-weight: bolder;
  margin-bottom: 3px;
} */
#resume-content sup {
  display: none !important;
}

/* Print/Web-specific */
@media not print {
  .print-only {
    display: none;
  }

  /* Add some more styles and spacing for non-print versoin */
  h1 {
    margin-top: 15px;
  }

  h2 {
    margin: 5px 0 0 0 !important;
  }

  li {
    margin-top: 5px !important;
  }
}
@media print {
  .web-only {
    display: none;
  }
  #main-wrapper {
    padding: 0;
    margin: 50px 0 0 0;
    box-shadow: none;
  }

  #resume-content div {
    display: none;
  }
}
